body {
	background-color: #FFF8DC;
}
header {
	font-size: 20px;
	text-align: center;
	background-color: black;
	color: white;
	height: 50px;
	padding: 10px 10px;
	margin: -10px;
}
h1 {
	margin: 0px;
}
section {
	display: inline-block;
	width: 65%;
	text-align: left;
	position: relative;
	margin-left: 20px;
}
h2 {
	font-size: 32px;
	font-style: Courier;
}
img {
	width: 225px;
	height: 300px;
}
p {
	float: right;
}
address {
	text-align: left;
	display: inline-block;
	width: 30%;
	margin-left: 15px;
	font-style: normal;
	position: relative;
	float: right;
}